name: Test Orca IaC action

on:
  workflow_dispatch:

jobs:
  iac_scan_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Scan IaC
        uses: ./
        with:
          api_token:
            ${{ secrets.ORCA_SECURITY_API_TOKEN }}
          project_key:
            "default"
          path:
            "test"
          format:
            "sarif"
          output:
            "results/results.sarif"
      - uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results/results.sarif
